.footer{
	margin-top: 50px;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.home-btn .btn{
	width:100%;
	height:250px;
	margin-top: 150px;
}

#header{
	margin-bottom: 80px;
}
.cancel-btn{
	margin-bottom:15px;
}

.signup-form{
	margin-top:70px;
}

.header-recipes{
	background-color: #5cb85c;
}

.header-usermanager{
	background-color: #3cb85c;
}

.addUser{
	margin-top: 30px;
}

.refresh{
	margin-top: 30px;
}

.ui-growl {
left:40%;
top: 80px;
}

.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;	
}

.recipes-panel{
	padding:10px;
	font-weight: bold;
}

.recipes-panel .ui-rating{
	display: inline-block;
}

.recipe-panel-parent{
	margin-top:10px;
}

.recipes-panel-icon{
	padding-right:10px;
}

.recipe-title{
	text-transform: uppercase;
}


